/* Estilos gerais */

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Estilo para o cabeçalho */

.header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.header h1 {
    margin: 0;
    font-size: 2.5em;
}

/* Estilo para links */

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Estilo para o rodapé */

.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer p {
    margin: 0;
}
